[Unit]
Description=Tortoiseshell Bar
After=graphical-session.target

[Service]
Type=exec
ExecStart=/home/jbrupbacher/go/bin/tortoiseshell start bar
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
